{% extends "articles/base.html" %}
{% load crispy_forms_tags %}


{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{form|crispy}}
        <div class="container">
            <div class="text-right">
                <div>
                    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Submit</button>
                    <a href="{% url 'article_list' %}" class="btn btn-success">
                        <i class="fas fa-backward"></i> Back
                    </a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
